.message {
  width: 150px;
  height: 13px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background: #fdc6c6;
  color: #696969;
  border-radius: 5px;
  font-size: 10px;
  text-shadow: none;
  text-align: center;
  border: none;
  margin: -38px auto 25px;
  position: sticky;
}