.spinner-big {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}

.spinner__container {
  position: fixed;
  bottom: 47px;
  width: 207px;
  height: 22px;
  background-color: var(--spinner-mini);
  /* bottom: 9px; */
  /* width: 40px; */
  /* height: 20px; */
  display: none;
}

.spinner-mini {
  display: block;
  /* width: 40px; */
  /* height: 40px; */
  position: absolute;
  /* top: calc(92% - 30px); */
  left: 83px;
  width: 30px;
  height: 0px;
  bottom: 18px;
  /* position: absolute; */
  /* top: calc(92% - 30px); */
  /* left: calc(93% - 30px); */
}

.blob {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #2f9ee7;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  &--mini {
    width: 13px;
    height: 13px;
  }
  &.top {
    top: 0;
    animation: blob-top 1s infinite ease-in;
  }
  &.bottom {
    top: 100%;
    animation: blob-bottom 1s infinite ease-in;
  }
  &.left {
    left: 0;
    animation: blob-left 1s infinite ease-in;
  }
}

.move-blob {
  // background: $blue;
  background: #2f9ee7;
  top: 0;
  animation: blob-spinner-mover 1s infinite ease-in;
}


@keyframes blob-bottom {
  25%,
  50%,
  75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}
@keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%,
  100% {
    top: 100%;
    left: 50%;
  }
}
@keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%,
  100% {
    top: 50%;
    left: 0;
  }
}

@keyframes blob-spinner-mover {
  0%,
  100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}